#content {
    padding: 5px;
    height: 45px;
    width: 400px;
    resize: none;
}
.form-control {
    display: flex;
}
.form-control button{
    padding: 5px;
    height: 55px;
    line-height: 45px;
    border: none;
    background: #ccc;
    text-align: center;
    width: 80px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}
#list-task {
    width: 600px;
}
#list-task h4 {
    text-transform: uppercase;
    font-size: 18px;
}
#list-task ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#list-task ul li {
    display: flex;
    background: #f1f1f1;
    padding: 5px;
    margin: 5px;
    justify-content: space-around;
}
#list-task ul li div {
    width: 80%;
   
}
#list-task ul li a {
    text-decoration: none;
    display: block;
    margin-right: 8px;
    color: #999;
    padding: 5px;
}
#list-task ul li a:nth-of-type(2) {
    background: red;
    border-radius: 5px;
}
